#menu .navbar.navbar-default img
{
    float: left;
    padding: 1%;
}

h1{margin: 5%;}

#corpo .table.table-striped.table-hover
{
    margin: 5%;
    width: 90%;
}

#corpo #FormUsuario
{
    width: 20%;
    margin: 2% auto;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 2%;
    text-align: center;
}

#rodape
{
    
    position: absolute;
    margin: 2% 36%;
}



